<section class="ftco-section">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <% if user_signed_in? %>
                    <p><i class="fa fa-envelope"></i>Email: <%= current_user.email %></p>
                    <p><i class="fa fa-user-circle"></i> username: <%= current_user.username %></p>
                    <%= button_to "Log out", destroy_user_session_path, class: 'btn btn-primary navbar-btn', method: :delete, id: "log" %>
                <% else %>
                    <%= link_to root_path, class: 'navbar-brand' do %>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        ChatAPP
                    <% end %>
                    <ul class="navbar-nav navbar-right m-auto">
                        <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
                        <li class="nav-item"><%= link_to "Contact", "#", class: "nav-link" %></li>
                        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link", method: :get %></li>
                        <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, method: :get, class: "nav-link" %></li>
                    </ul>
                <% end %>
            </div>
        </div>
    </nav>
</section>